[run]
branch = True

omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit migrations
    */map/migrations/*
    */travelplan/*
    ./manage.py


include = 
    */map/*    

