__pycache__/
.vscode
db.sqlite3
node_modules/
.env
request/
=5.0.0
env
htmlcov
coverage.xml


# Vue.js
.DS_Store
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
co


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
